{{define "page-list"}}
<html>
<head>
  <title>List of gophers</title>
</head>
<body>

  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    {{range .Gophers}}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.Name}}</td>
    </tr>
    {{end}}
  </table>
  
  <hr/>

  <form action="/save" method="post">
    New Gopher
    <div>Id<input type="text" name="id"></div>
    <div>Name<input type="text" name="name"></div>
    <div><input type="submit" value="Save"></div>
  </form>
          
</body>
</html>
{{end}}